.video-rec {
  width: 70%;
  background-color: gray;
}
.rec-actions button {
  text-transform: capitalize;
}
.hide-video-player {
  visibility: hidden;
  height: 0;
  width: 0;
}
button {
  cursor: pointer;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 3px;
}
button:hover {
  background-color: black;

}
